/* html {
  height:100px;
}

body {
  margin:0;
}

.bigblue {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #520670 55%, #000000 50%);
  bottom:40%;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
  zoom: 90%;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}



@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
} */